<h1>Rails Sample Source</h1>
<br/>

<li><b><%= link_to 'Blog (Rails Guide)', "posts" %></b></li>
<li><b><%= link_to 'Book (퍼펙트 루비 온 레일즈)', "books" %></b></li>
<li><b><%= link_to 'Product Excel Import/Expert', "products" %></b></li>