<table>
  <thead>
  <tr>
    <th>Publish</th>
    <th>Price</th>
  </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.publish %></td>
      <td><%= book.avg_price %>원</td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
<%= link_to 'Back', :controller => 'books', :action => 'index'%>